/* 대시보드 */
.dashboard {
  height: 95vh;
  width: 92vw;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(3, minmax(150px, 1fr));
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  position: relative;
}

/* 슬라이더 컨테이너 */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 버튼 스타일 */
.btn {
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: none;
  color: #828282;
  padding: 15px;
  transition: color 0.3s ease;
}

.btn:hover {
  color: #007bff;
}
