/* 메뉴 아이콘 컨테이너 */
.menuContainer {
  position: absolute;
  bottom: 4px;
  left: 7px;
  z-index: 50;
}

/* 메뉴 아이콘 */
.menuIcon {
  position: fixed;
  bottom: 1%;
  left: 0.4%;
  font-size: 24px;
  transform: translate(4%, 4%);
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  padding: 15px 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #828282;
}

.menuIcon:hover {
  transform: scale(1.1);
  color: #007bff;
}

/* 메뉴 아이템 */
.menuItem {
  padding: 12px 16px;
  font-size: 16px;
  color: #5e5e5e;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menuItem:hover {
  background-color: #007bff;
  color: #ffffff;
}

/* 메뉴 내용 */
.menuContent {
  display: none;
  position: absolute;
  background-color: #f6faff;
  border: 2px solid #c8def2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  bottom: 0;
  width: 250px;
  height: 96vh;
  padding: 3px;
  left: 1px;
  overflow-y: auto; /* 스크롤 가능 */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* 풋메뉴 */
.menuFoot {
  position: absolute;
  bottom: 5px;
  width: 95%;
  text-align: center;
  background-color: #d5eaff;
  border-top: 1px solid #dee2e6;
  padding: 5px;
  font-size: 14px;
  color: #828282;
}

/* 메뉴 리스트 */
.menuContent ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.menuContent li {
  padding: 12px 16px;
  font-size: 16px;
  color: #5e5e5e;
  cursor: pointer;
  border-bottom: 1px solid #f1f3f5;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menuContent li:hover {
  background-color: #007bff;
  color: #ffffff;
}

.activeMenuItem {
  background-color: #97c9ff;
}

.menuContainer:hover .menuContent {
  display: block;
  opacity: 1;
  visibility: visible;
}
